In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r'D:\project\goodreads\data\goodbooks-10k\ratings.csv'
ratings = pd.read_csv(path)

In [3]:
len(ratings)

5976479

In [4]:
main_path = r"D:\project\goodreads\data\main"
train = pd.read_csv(main_path + r'\ratings_train.dat',sep=':',header=None)
test = pd.read_csv(main_path + r'\ratings_test.dat',sep=':',header=None)

In [5]:
len(train) + len(test)

5916164

In [6]:
books = pd.read_csv(r'D:\project\goodreads\data\goodbooks-10k\books.csv')

In [7]:
len(books)

10000

In [8]:
columns = books.columns

In [9]:
ratings.columns

Index(['user_id', 'book_id', 'rating'], dtype='object')

In [10]:
print(', '.join(columns))

book_id, goodreads_book_id, best_book_id, work_id, books_count, isbn, isbn13, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5, image_url, small_image_url

In [12]:
origin_lang_code = pd.DataFrame(books.language_code.value_counts())

In [13]:
origin_lang_code

       language_code
eng             6341
en-US           2070
en-GB            257
ara               64
en-CA             58
fre               25
ind               21
spa               20
ger               13
per                7
jpn                7
por                6
pol                6
en                 4
nor                3
dan                3
fil                2
ita                2
vie                1
tur                1
nl                 1
swe                1
rum                1
mul                1
rus                1

In [20]:
books.language_code.isna().value_counts()

False    8916
True     1084
Name: language_code, dtype: int64

In [21]:
replace_dict = {'en-US': 'eng', 'en-GB': 'eng', 'en-CA': 'eng', 'en': 'eng'}
books.language_code.replace(replace_dict, inplace=True)
books.language_code.value_counts()

eng    8730
ara      64
fre      25
ind      21
spa      20
ger      13
jpn       7
per       7
pol       6
por       6
nor       3
dan       3
fil       2
ita       2
nl        1
rum       1
mul       1
tur       1
swe       1
vie       1
rus       1
Name: language_code, dtype: int64

In [22]:
books.fillna(value='eng', inplace=True)
books.language_code.value_counts()

eng    9814
ara      64
fre      25
ind      21
spa      20
ger      13
jpn       7
per       7
pol       6
por       6
nor       3
dan       3
fil       2
ita       2
nl        1
rum       1
mul       1
tur       1
swe       1
vie       1
rus       1
Name: language_code, dtype: int64

In [30]:
path = r'D:\project\goodreads\data\goodbooks-10k\ratings.csv'
ratings = pd.read_csv(path)
print(len(ratings.user_id.unique()), len(ratings))

53424 5976479

In [32]:
user_count = ratings.user_id.value_counts()

In [33]:
processed_ratings = pd.concat([train, test], ignore_index=True)
processed_ratings = processed_ratings.sort_values(0)
len(processed_ratings[0].unique())

53422

In [42]:
user_count_ = pd.DataFrame(processed_ratings[0].value_counts(), index=None)

In [47]:
drop_user = list(user_count_.loc[user_count_[0] <= 2].index)

In [50]:
drop_user

[32925,
 50918,
 34711,
 40508,
 32128,
 42736,
 31029,
 52083,
 47975,
 28715,
 39283,
 49880]

In [57]:
drop_id = []
for user in drop_user:
    drop_id.append(list(train.loc[train[0] == user].index)[0])
drop_id

[1905345,
 3340669,
 2049578,
 2515867,
 1840519,
 2693769,
 1752762,
 3433491,
 3107761,
 1565985,
 2417466,
 3258344]

In [59]:
drop_id_test = []
for user in drop_user:
    drop_id_test.append(list(test.loc[test[0] == user].index)[0])
drop_id_test

[956148,
 1677333,
 1028595,
 1262795,
 923604,
 1352208,
 879519,
 1723976,
 1560235,
 785702,
 1213358,
 1635962]

In [60]:
print(len(train))
for index in drop_id:
    train.drop(index, inplace=True)
print(len(train))

3938755
3938743

In [61]:
print(len(test))
for index in drop_id_test:
    test.drop(index, inplace=True)
print(len(test))

1977409
1977397

In [63]:
processed_ratings = pd.concat([train, test], ignore_index=True)
processed_ratings = processed_ratings.sort_values(0)
len(processed_ratings[0].unique())

53410

In [64]:
1 - (5916140/5976479)

0.010096078309653533

In [65]:
train.to_csv('./data/main/ratings_train_1.dat',sep=':',header=False,index=False)
test.to_csv('./data/main/ratings_test_1.dat',sep=':',header=False,index=False)