### IMPORT LIBRARIES & CREATE CONNECTOR

In [17]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
import mysql.connector
import getpass

In [18]:
HOST = 'localhost'
USER = 'root'
DATABASE = 'goodreads'
PASSWORD = getpass.getpass(f'Enter password for {USER}: ')

In [19]:
def getconn():
    conn = mysql.connector.connect(
        host=HOST,
        user=USER,
        password=PASSWORD,
        database=DATABASE
    )
    return conn

pool = sa.create_engine(
    "mysql+mysqlconnector://",
    creator=getconn,
)

with pool.connect() as db_conn:
    results = db_conn.execute(sa.text("SELECT NOW()")).fetchone()
    print("Current time: ", results[0])

Current time:  2023-05-24 14:34:22

### SANDBOX

In [20]:
book_id_query = sa.text(
    "SELECT goodreads_book_id FROM books;"
)
book_id = pd.read_sql_query(book_id_query, con=pool.connect())
book_id.head()

  goodreads_book_id
0           2767052
1                 3
2             41865
3              2657
4              4671

In [21]:
id_list = book_id.goodreads_book_id.tolist()

In [22]:
user_id_query = sa.text(
    "SELECT DISTINCT(user_id) FROM new_ratings;"
)
user_id = pd.read_sql_query(user_id_query, con=pool.connect())
user_id.head()

  user_id
0       1
1       2
2       4
3       8
4       9

In [23]:
user_list = user_id.user_id.tolist()
user_list[:5]

['1', '2', '4', '8', '9']

In [24]:
columns = list(['user_id'] + id_list)

In [25]:
user_ratings_df = pd.DataFrame(columns=columns)
user_ratings_df

Empty DataFrame
Columns: [user_id, 2767052, 3, 41865, 2657, 4671, 11870085, 5907, 5107, 960, 1885, 77203, 13335037, 5470, 7613, 48855, 2429135, 6148028, 5, 34, 7260188, 2, 12232938, 15881, 6, 136251, 968, 1, 7624, 18135, 8442457, 4667024, 890, 930, 10818853, 865, 3636, 100915, 14050, 13496, 19501, 28187, 1934, 10210, 15931, 4214, 43641, 19063, 49041, 30119, 256683, 428263, 113436, 11, 5129, 1162543, 37435, 2956, 24178, 1618, 22557272, 119322, 6185, 10917, 4981, 18405, 128029, 22628, 11735983, 375802, 18490, 11588, 1656001, 99561, 227443, 14935, 38709, 5139, 1381, 157993, 7445, 1845, 1953, 370493, 32542, 1617, 6442769, 21787, 231804, 6186357, 1202, 2998, 320, 5297, 13536860, 17245, 5060378, 11857408, 7244, 4137, ...]
Index: []

[0 rows x 9815 columns]

In [26]:
def get_ratings(user_id, book_id):
    query = sa.text(
        f"SELECT rating FROM new_ratings WHERE user_id = {user_id} AND goodreads_book_id = {book_id};"
    )
    result = pd.read_sql_query(query, con=pool.connect())
    return result

In [27]:
sample = get_ratings('194', '374233')
sample

   rating
0       4
1       4
2       4